<a href="https://colab.research.google.com/github/PriyaKumari2657/Movie_recommender/blob/main/MOVIE_RECOMMENDATION_SYSTEM(PRIYA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Certification project on movie recommendation**

In [ ]:
# import libraries  and load dataset

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
movies= pd.read_csv('/content/movies.csv')

In [ ]:
ratings=pd.read_csv('/content/ratings.csv')

In [ ]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

 **Data cleaning**

In [ ]:
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [ ]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

**performing EDA**

In [ ]:
# understanding of distribution of data features available

In [ ]:
movies.shape

(10329, 3)

In [ ]:
ratings.shape

(105339, 4)

In [ ]:
# finding unique users and movies

In [ ]:
movies['title'].nunique()

10327

In [ ]:
ratings['userId'].nunique()

668

In [ ]:
# Average rating and total movies at genre level.

In [ ]:
df=pd.merge(movies,ratings,on='movieId')
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,5.0,859046895
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1303501039
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,5.0,858610933
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.0,850815810
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.0,851766286

In [ ]:
df=df.drop_duplicates('title')

In [ ]:
df.groupby('title')['rating'].mean().sort_values(ascending=False)

title
Shackleton's Antarctic Adventure (2001)    5.0
Austenland (2013)                          5.0
Silence of the Lambs, The (1991)           5.0
My Fair Lady (1964)                        5.0
My Darling Clementine (1946)               5.0
                                          ...
Bebe's Kids (1992)                         0.5
Leonard Part 6 (1987)                      0.5
Leprechaun 2 (1994)                        0.5
Thinner (1996)                             0.5
Daylight (2010)                            0.5
Name: rating, Length: 10323, dtype: float64

In [ ]:
#  Ratings count

In [ ]:
df.groupby('title')['rating'].count().sort_values(ascending=False)

title
'71 (2014)                                   1
Pahat pojat (2003)                           1
Paparazzi (2004)                             1
Paper Chase, The (1973)                      1
Paper Clips (2004)                           1
                                            ..
Fright (1972)                                1
Fright Night (1985)                          1
Fright Night (2011)                          1
Fright Night Part II (1988)                  1
À nous la liberté (Freedom for Us) (1931)    1
Name: rating, Length: 10323, dtype: int64

In [ ]:
# unique genres considered

In [ ]:
movie_ids = movies["movieId"].unique()
user_ids = ratings["userId"].unique()
all_movies = movies["title"].unique()

movie_rating_data =movies.copy()
genres = []
genres_set = []
for s in movies["genres"]:
  s = s.split("|")
  genres_set.append(s)
  for w in s:
    genres.append(w)

all_genres = list(set(genres))

no_of_rating = {}
average_rating = {}
for id in movies['movieId']:
  movie = ratings[ratings["movieId"]==id]
  no_of_rating[id] = movie.shape[0]
  average_rating[id] = round(movie["rating"].mean(), 2)

movies["No_of_views"] = no_of_rating.values()
movies["Average_rating"] = average_rating.values()
movies["genres"] = genres_set

In [ ]:
all_genres[:11]

['Romance',
 'Children',
 'Documentary',
 '(no genres listed)',
 'Crime',
 'Comedy',
 'Fantasy',
 'Drama',
 'Film-Noir',
 'Action',
 'IMAX']

# Popularity based recommendation system

In [ ]:
# Popularity based recommendation system

In [ ]:
# criteria is highest rating and more no.of views

In [ ]:
df[['title','rating']]

                                      title  rating
0                          Toy Story (1995)     5.0
232                          Jumanji (1995)     3.0
324                 Grumpier Old Men (1995)     2.0
382                Waiting to Exhale (1995)     3.5
393      Father of the Bride Part II (1995)     3.0
...                                     ...     ...
105332        Cosmic Scrat-tastrophe (2015)     4.0
105333           Le Grand Restaurant (1966)     2.5
105334       A Very Murray Christmas (2015)     3.0
105335                 The Big Short (2015)     4.0
105338  Marco Polo: One Hundred Eyes (2015)     4.0

[10323 rows x 2 columns]

In [ ]:
rating_mean_count =pd.DataFrame(df.groupby('title')['rating'].mean())

In [ ]:
rating_mean_count['rating_counts'] =pd.DataFrame(df.groupby('title')['rating'].count())
rating_mean_count.head()

                                         rating  rating_counts
title
'71 (2014)                                  3.5              1
'Hellboy': The Seeds of Creation (2004)     3.0              1
'Round Midnight (1986)                      2.5              1
'Til There Was You (1997)                   3.0              1
'burbs, The (1989)                          3.0              1

In [ ]:
rating_mean_count['rating']=round(rating_mean_count['rating'],2)
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,5.0,859046895
232,2,Jumanji (1995),Adventure|Children|Fantasy,16,3.0,849188326
324,3,Grumpier Old Men (1995),Comedy|Romance,2,2.0,859046959
382,4,Waiting to Exhale (1995),Comedy|Drama|Romance,80,3.5,1253152402
393,5,Father of the Bride Part II (1995),Comedy,2,3.0,859046959

In [ ]:
def Popularity_Based(genre, threshold=3, Num_recom= 10, minimum_views=100):
  """ This function return top rated movies for the give Genre.
      input:
        genre: (string) ex == "Adventure", "Animation", "Children", "Comedy", "Fantasy"
        threshold: 3 (int/float) ex == 3, 3.5, 4, 5
        Num_recom: 10 (int) ex == 5, 7 ,10, 20
        minimum_views: 100 (int) ex = 50, 100, 200, 500

      output:
        It will return a DataFrame with
        column: ("title", "Average_rating", "No_of_views")
        rows: Num_recom
  """
  all_recom = pd.DataFrame(columns=movies.columns)
  for i in range(movies.shape[0]):
    movie = movies.iloc[i]
    if movie["Average_rating"] >= threshold and movie["No_of_views"] >= minimum_views:
        if genre in movie["genres"]:
          all_recom = all_recom.append(movie)

  if all_recom.shape[0] >= Num_recom:
    all_recom = all_recom.sort_values(by="Average_rating", ascending=False)[:Num_recom]
  elif all_recom.shape[0] == 0:
    print("No Moives For Your Request...!")
    return

  all_recom.drop(columns=["movieId", "genres"], inplace=True)
  all_recom.index = list(range(1, all_recom.shape[0]+1))
  all_recom.columns =["Movie Name", "No. of views", "average rating"]
  print("These Are Top {all_recom.shape[0]} Movies")
  return all_recom

In [ ]:
Popularity_Based(genre="Fantasy", threshold=4, Num_recom= 5, minimum_views=10)

These Are Top {all_recom.shape[0]} Movies

,Movie Name,No. of views,average rating
1,Nausicaä of the Valley of the Wind (Kaze no ta...,22,4.48
2,Princess Mononoke (Mononoke-hime) (1997),52,4.38
3,My Neighbor Totoro (Tonari no Totoro) (1988),28,4.32
4,Monty Python and the Holy Grail (1975),154,4.30
5,Spirited Away (Sen to Chihiro no kamikakushi) ...,72,4.24

In [ ]:
print("Here You See Most Popular Movie By it's Genre.")
a = input("Please Enter The Genre : ")
b = abs(int(input("Please enter minimum no. of reviews:  ")))
c = abs(int(input(" no. of recommendation: ")))
d= int(input("minimum no. of views"))

Popularity_Based(a , b, c, d)

Here You See Most Popular Movie By it's Genre.
Please Enter The Genre : Comedy
Please enter minimum no. of reviews:  4
 no. of recommendation: 5
minimum no. of views100
These Are Top {all_recom.shape[0]} Movies

                               Movie Name No. of views  average rating
1  Monty Python and the Holy Grail (1975)          154            4.30
2                            Fargo (1996)          201            4.27
3                     Pulp Fiction (1994)          325            4.16
4              Princess Bride, The (1987)          171            4.16
5                     Forrest Gump (1994)          311            4.14

# Content Based recommendation system

In [ ]:
movies.head()

,movieId,title,genres,No_of_views,Average_rating
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",232,3.91
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",92,3.35
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",58,3.19
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",11,2.82
4,5,Father of the Bride Part II (1995),[Comedy],62,3.25

In [ ]:
import random

In [ ]:
df['No_of_views']=movies['No_of_views']
df.drop(columns='timestamp',inplace=True)

In [ ]:
def content_based(based_on_title='Toy Story (1995)',top_N_movie=10):
  genre_of_given_movie= df[df['title']==based_on_title]['genres'].values[0]

  # get similar movies
  similar_movie=df[df['genres']==genre_of_given_movie]
  similar_movie=similar_movie.sort_values(by='No_of_views',ascending=False)
  similar_movie.drop_duplicates(inplace=True)
  return similar_movie
  # Removing the given movie from DF
  similar_movie.set_index("title", inplace=True, drop=False)
  similar_movie.drop(based_on_title, inplace=True)
  similar_movie.unique(movieId)
  # Returning the DF
  similar_movie = similar_movie.drop(columns=["movieId", "genres", "No_of_views", "Average_rating"]).iloc[0:top_N_movie]
  similar_movie.index = list(range(1, top_N_movie+1))

In [ ]:
nco=content_based(based_on_title='Toy Story (1995)',top_N_movie=10)
nco.drop(columns='No_of_views',inplace=True)
nco.head()

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,5.0
49511,2294,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy,54,2.0
61105,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,4,5.0
66804,3754,"Adventures of Rocky and Bullwinkle, The (2000)",Adventure|Animation|Children|Comedy|Fantasy,62,1.5
69082,4016,"Emperor's New Groove, The (2000)",Adventure|Animation|Children|Comedy|Fantasy,5,4.0

# Collaborative Based recommendation System

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
movies.head()

,movieId,title,genres,No_of_views,Average_rating
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",232,3.91
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",92,3.35
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",58,3.19
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",11,2.82
4,5,Father of the Bride Part II (1995),[Comedy],62,3.25

In [ ]:
sparse_matrix = pd.pivot_table(df, columns=["userId"], index=["movieId"], values="rating").fillna(0)
cor = sparse_matrix.corr(method="pearson")

In [ ]:
def collaborative_based(userid=1, number_of_recom=5, k = 100):
  """
  It will return a dataframe with N recommandation based on K similar users.
  Input:
    userid: 1 (Int) For which user you want to recommend moives.
    number_of_recom: 5 (Int) How many movies you want to recommend.
    k: 100 (Int) With how many similar usere you want to compare.

  Output:
    DataFrame with N rows, and one column names movie names
  """

  # These are "k" most similar users
  k_similar_users = (cor[userid].sort_values(ascending=False).iloc[1:k+1]).index
  k_similar_users_corr = cor[userid].sort_values(ascending=False).iloc[1:k+1]

  # k users sparse matrix
  k_users_sparse = sparse_matrix.get(k_similar_users)

  # removing the movies which all k users not yet watched, and movie watched by given user
  movies_watched_by_given_user = (df[df["userId"] == userid]).get("movieId").tolist()
  x = k_users_sparse.sum(axis=1)
  y = x[x.values!=0].index
  final_movie_ids = [i for i in y if i not in movies_watched_by_given_user]
  final_sparse = k_users_sparse.loc[final_movie_ids]

  # Data Frame of top N movies
  recommend = {}
  for i in final_movie_ids:
    recommend[i] = round((final_sparse.loc[i]*k_similar_users_corr).sum(), 1)

  # if number_of_recom requested is more then limit
  if number_of_recom > len(recommend):
    number_of_recom = len(recommend)

  # if number_of_recom requested is less or equal to zero
  elif number_of_recom <= 0:
      number_of_recom = 5

  top_N_movie_ids = [x[0] for x in sorted(recommend.items(), key=lambda x:x[1])[-number_of_recom:]]
  como = movies.set_index("movieId").loc[top_N_movie_ids].drop(columns=["genres"])
  return como

In [ ]:
collaborative_based(userid=1, number_of_recom=5, k = 100)

,title,No_of_views,Average_rating
movieId,,,
114028,Pride (2014),1,4.00
127202,Me and Earl and the Dying Girl (2015),1,3.50
135133,The Hunger Games: Mockingjay - Part 2 (2015),2,3.25
139620,Everything's Gonna Be Great (1998),1,5.00
140820,Air (2015),1,5.00